[Desktop Entry]
Version=1.0
Type=Application
Name=MyNotePad
GenericName=MyNotePad Text Editor
Comment=Sophisticated text editor for code, markup and prose
Exec=/usr/local/bin/mynotepad %F
Terminal=false
MimeType=text/plain;
Icon=mynotepad
Categories=TextEditor;Development;
StartupNotify=true
Actions=Window;Document;
X-Deepin-CreatedBy=com.deepin.dde.daemon.Launcher
X-Deepin-AppID=sublime_text

[Desktop Action Document]
Name=New File
Exec=/usr/local/bin/mynotepad abc
OnlyShowIn=Unity;
