body {
	font-family: Microsoft JhengHei UI, Microsoft Yahei, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
	font-size: 22px;
	color: #444;
	font-weight: 100;
	background-color: #fbfbfb;
	word-wrap: break-word;
	text-shadow: 0px 0px 1px 0px #ccc;
}

body, div, dl, dt, dd, ul, ol, li, code, h1, h2, h3, h4, h5, h6, form,
fieldset, legend, input, textarea, th, td {margin: 0;padding: 0;}

h1, h2, h3, h4, h5, h6 {
	font-family: Microsoft JhengHei UI, Microsoft Yahei, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
	font-weight: 400;
	margin: 14px 0 20px 0;
}
h1 {font-size: 36px;}
h2 {font-size: 32px;}
h3 {font-size: 30px;}
h4 {font-size: 26px;}
h5 {font-size: 22px;}
h6 {font-size: 18px;}
input, textarea, select, button {
	font-family: Microsoft JhengHei UI, Microsoft Yahei, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
	font-size: 24px;
	border: #ddd solid 1px;
	padding: 5px;
	outline-color: #ddd;
}
p {line-height: 28px;margin:18px 0;}
strong {font-weight: 700;}
a {color: #246;text-decoration: none;outline: none;}
a:hover {color: #47c;}
img {max-width: 100%}
pre {
	background: #f7f7f7 !important;
	font-family: Consolas, Lucida Console, Noto Mono, DejaVu Sans Mono, Courier New;
}
code {
	padding: 1px 3px;
	word-break: break-all;
	background: #eee;
	color: #246;
	font-family: Consolas, Lucida Console, Noto Mono, DejaVu Sans Mono, Courier New;
}
blockquote {
	padding-left: 28px;
	border-left: solid 2px #ddd;
	margin: 0 28px;
}
table {
	width: 100%;
	border-spacing:0;
	border-left: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	margin: 18px 0;
} 
th {
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	font-size: 20px;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA no-repeat;
} 
td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	font-size: 17px;
	word-break: break-all;
}
td.alt {background: #F5FAFA;color: #797268;}
th.spec,td.spec {border-left: 1px solid #C1DAD7;}
tr:nth-child(odd) {background: #fff;}  
tr:nth-child(even) {background: #F5FAFA;}
::selection {background:rgba(0,144,255,0.15)}
::-moz-selection {background:rgba(0,144,255,0.15)}
main {
	margin: 60px auto;
	width: 61.8%;
	min-width: 900px;
}