body {
	font-family: Noto Sans CJK SC, Microsoft JhengHei UI, Microsoft Yahei, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
	font-size: 20px;
	color: #444;
	background-color: #eee;
	word-wrap: break-word;
}

body, div, dl, dt, dd, ul, ol, li, code, h1, h2, h3, h4, h5, h6, form,
fieldset, legend, input, textarea, th, td {margin: 0;padding: 0;}

h1, h2, h3, h4, h5, h6 {
	font-family: Noto Sans CJK SC, Microsoft JhengHei UI, Microsoft Yahei, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
	font-weight: 400;
	margin: 14px 0 20px 0;
}
h1 {
	font-size: 36px;
	border-bottom: 1px #bbb solid;
	padding-bottom: 4px;
}
h2 {
	font-size: 32px;
	border-bottom: 1px #bbb solid;
	padding-bottom: 4px;
}
h3 {font-size: 30px;}
h4 {font-size: 26px;}
h5 {font-size: 22px;}
h6 {font-size: 18px;}
input, textarea, select, button {
	font-family: Noto Sans CJK SC, Microsoft JhengHei UI, Microsoft Yahei, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
	font-size: 24px;
	border: #ddd solid 1px;
	padding: 5px;
	outline-color: #ddd;
}
p {line-height: 28px;margin:18px 0;}
strong {font-weight: 700;}
a {color: #246;text-decoration: none;outline: none;}
a:hover {color: #47c;}
img {max-width: 100%}
pre {
	background: #f7f7f7 !important;
	overflow-x: scroll;
	font-size: 18px;
	font-family: Noto Mono, Consolas, Lucida Console, Noto Mono, DejaVu Sans Mono, Courier New;
}
code {
	padding: 1px 3px;
	word-break: break-all;
	background: #eee;
	color: #246;
	font-family: Noto Mono, Consolas, Lucida Console, Noto Mono, DejaVu Sans Mono, Courier New;
}
blockquote {
	padding-left: 28px;
	border-left: solid 2px #ddd;
	margin: 18px 28px;
}
ul {
	margin: 18px;
	padding-left: 8px;
}
ol {
	padding-left: 40px;
}
li {
	margin: 2px 0;
}

/* Table
===============================================*/
table {
	width: 100%;
	border-spacing:0;
	border-left: 1px solid #ccc;
	margin: 18px 0;
}
th {
	color: #444;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	font-size: 20px;
	padding: 6px 6px 6px 12px;
	background: #eee no-repeat;
}
td {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 6px 6px 6px 12px;
	color: #444;
	font-size: 17px;
	word-break: break-all;
}
td.alt {background: #fff;color: #fff;}
th.spec,td.spec {border-left: 1px solid #ccc;}
tr:nth-child(odd) {background: #fff;}
tr:nth-child(even) {background: #f7f7f7;}

::selection {background:rgba(0,144,255,0.15)}
::-moz-selection {background:rgba(0,144,255,0.15)}
main {
	margin: 60px auto;
	width: 61.8%;
	min-width: 900px;
	background-color: #fff;
	padding: 32px;
}